/* style */
.pkiwebsdk-container {
	padding:5px;
	margin: 0px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.pkiwebsdk-button { 
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
		touch-action: manipulation;
		cursor: pointer;
		  -webkit-user-select: none;
			 -moz-user-select: none;
			  -ms-user-select: none;
				  user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
	background-color:#00458E;
	border-color:#1462A9;
	}
.pkiwebsdk-button.focus {
	color: #fff;
	background-color: #286090;
	border-color: #122b40;
}
.pkiwebsdk-button:hover {
	color: #fff;
	background-color: #286090;
	border-color: #204d74;
}
.pkiwebsdk-fileupload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.pkiwebsdk-fileupload input.pkiwebsdkupload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.pkiwebsdk-modal{
  background-color:#fff;
  color:black;
  border-radius:5px;
}
.pkiwebsdk-modal-content{
  background-color:#fff !important;
}
.pkiwebsdk-modal-header {
  background:#2B67BF !important;
  padding:10px;
  color:white !important;
  font-size:14px;
  min-height:20px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}
.pkiwebsdk-modal-content {
  padding:10px;
  width:80vh;
}
.pkiwebsdk-modal-well {
  min-height: 20px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.pkiwebsdk-modal-h4 {
  margin-bottom:10px;
}
.pkiwebsdk-modal-input {
  min-height: 10px;
  padding: 10px;
  width:90%;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.pkiwebsdk-modal-button:hover {
  background:#2B67BF !important;
}
.pkiwebsdk-modal-button {
  -webkit-user-select: none;
  background-color: #00458E;
  background-image: none;
  border: 1px solid transparent;
  border-color: #1462A9;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.pkiwebsdk-modal-img {
  margin-right:15px;
  margin-bottom:15px;
}
